h4 Data Binding and Render Phases
button(ng-click='ex5.render(ex5.array, "red", "enter")') Enter one array
button(ng-click='ex5.render(ex5.anotherArray, "blue", "enter")') Enter another array
br
br
button(ng-click='ex5.render(ex5.array, "green", "update")') Update to array
button(ng-click='ex5.render(ex5.anotherArray, "black", "update")') Update to another array
br
br
button(ng-click='ex5.render(ex5.lastArray, "purple", "exit")') Exit to last array
button(ng-click='ex5.render([], "green", "exit")') Exit all
br
br
button(ng-click='ex5.colorRects()') See a color gradient

.example-5
