h1, h2
  margin 0

h1
  font-size 7vw

.border
  border .2vw black solid
  border-radius 1vw

.center
  margin 10vh auto 1vh
  padding 3vh 10vw
  width 40vw

.left
  float left

.right
  float right

.clear
  clear both
