h4(ui-sref='home') Intro to D3 Examples

ul.example-list
  li
    a(ui-sref='example-1') HTML/SVG - Drawing Rectangles
  li
    a(ui-sref='example-2') HTML/SVG - Drawing Circles and Lines
  li
    a(ui-sref='example-3') Reading CSVs 
  li
    a(ui-sref='example-4') D3 Scales  
  li
    a(ui-sref='example-5') Data Binding and Render Phases
  li
    a(ui-sref='playground') Playground
ui-view#examples
