h3 D3 Scales


h4 Linear Scales
p
  strong Domain (Data space): 0 - 10
p
  strong Range (Pixel space): 0 - 100
p scale(0) = {{ ex4.linearScale(0) }}
p scale(2) = {{ ex4.linearScale(2) }}
p scale(4) = {{ ex4.linearScale(4) }}
p scale(5) = {{ ex4.linearScale(5) }}
p scale(10) = {{ ex4.linearScale(10) }}
hr
  
h4 Ordinal Scales
p scale('A') = {{ ex4.ordinalScale('A') }}
p scale('B') = {{ ex4.ordinalScale('B') }}
p scale('C') = {{ ex4.ordinalScale('C') }}
hr
  
h4 Ordinal Scales w/ Range points
p scale('A') = {{ ex4.ordinalScale2('A') }}
p scale('B') = {{ ex4.ordinalScale2('B') }}
p scale('C') = {{ ex4.ordinalScale2('C') }} 
